<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="callSettersOnNulls" value="true" />
    </settings>
    
    <mappers>
        <mapper resource="../conf/jdbc/kjdp/kjdp-common-mapper.xml" />
        <mapper resource="../conf/jdbc/kjdp/kjdp-frame-mapper.xml" />
        <mapper resource="../conf/jdbc/kjdp/kjdp-operator-mapper.xml" />
        <mapper resource="../conf/jdbc/kjdp/kjdp-perm-mapper.xml" />

        <mapper resource="../conf/jdbc/risk/risk-customer-detail-mapper.xml" />
	</mappers>
</configuration>