@charset "UTF-8";
.form-panel{
    position:relative
}
.form-panel .btn-wrap{
    float:left;
    margin-left:300px;
    margin-top:10px;
    text-align:right
}
.form-panel .btn-wrap .l-btn-wrap{
    margin-left:10px
}